:root{
    --primary-color: #000000;
    --secundary-color: #ffffff;
    --tertiary-color: #9000FF;
}

body{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 50px;
    font-family: Inter, sans-serif;
    color: var(--secundary-color);
}

/*ESTILIZAÇÃO DO HEADER*/
header{
    display: flex;
    flex-direction: column;
}

.svg{
    width: 25px;
    height: 25px;
}

.header-up{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: center;
}

.header-up .logos{
    align-items: center;
    display: flex;
    gap: 12px;
}

.header-up .local{
    display: flex;
    gap: 12px;
    align-items: center;
}

hr{
    color: var(--secundary-color);
}

.header-down{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
}

.header-down .func{
    text-decoration: underline;
    text-decoration-color: var(--tertiary-color);
}

.header-down .functions{
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-down .functions .texts{
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-down .functions .magglass{
    gap: 10px;
}

.button{
    height: 40px;
    width: 160px;
    background-color: var(--tertiary-color);
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 5px;
}

/*ESTILIZAÇÃO DO MAIN*/
main{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    justify-content: space-between;
}

.informations{
    height: 230px;
    width: 380px;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(0%, -90%);
}

.title{
    font-size: 60px;
}

.characteristics{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.line1, .line2, .line3, .line4{
    display: flex;
    gap: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
}

.date, .D3, .language, .time, .classification{
    display: flex;
    align-items: center;
    gap: 5px;
}

.trailer{
    height: 40px;
    width: 160px;
    border-style: solid;
    border-color: var(--secundary-color);
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.poster{
    position: absolute;
    transform: translate(-100%, -47%);
    height: 78%;
}

/*ESTILIZAÇÃO DO FOOTER*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}

.carousel{
    display: flex;
    position: absolute;
    transform: translate(-200%, -30%);
}