:root{
    --primary-color: #000000;
    --secundary-color: #ffffff;
    --tertiary-color: #9000FF;
}

body{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding: 50px 120px 120px 120px;
    font-family: Inter, sans-serif;
    color: var(--secundary-color);
}

/*ESTILIZAÇÃO DO HEADER*/
header{
    display: flex;
    flex-direction: column;
}

.svg{
    width: 25px;
    height: 25px;
}

.header-up{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: center;
}

.logos, .local{
    align-items: center;
    display: flex;
    gap: 12px;
}

hr{
    color: var(--secundary-color);
}

.header-down{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
}

.func{
    text-decoration: underline;
    text-decoration-color: var(--tertiary-color);
}

.functions, .texts{
    display: flex;
    gap: 10px;
    align-items: center;
}

.magglass{
    gap: 10px;
}

.button{
    height: 40px;
    width: 160px;
    background-color: var(--tertiary-color);
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 5px;
}

/*ESTILIZAÇÃO DO MAIN*/
main{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.informations{
    height: 230px;
    width: 490px;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(45%, -30%);
}

.title{
    font-size: 80px;
}

.characteristics{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.line1, .line2, .line3{
    display: flex;
    gap: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
    font-size: 20px;
}

.line4{
    display: flex;
    gap: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
}

.date, .D3, .language, .time, .classification{
    display: flex;
    align-items: center;
    gap: 5px;
}

.trailer{
    height: 40px;
    width: 160px;
    border-style: solid;
    border-color: var(--secundary-color);
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.poster{
    position: absolute;
    transform: translate(160%, -50%);
    height: 78%;
}

/*ESTILIZAÇÃO DO FOOTER*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel{
    display: flex;
    z-index: 1;
}

/*TABLET (iPad Mini)*/
@media (max-width: 1024px){
    body{
        padding: 20px;
    }

    main{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .svg{
        height: 15px;
        width: 15px;
    }

    .header-up, .texts, .vl, .functions .button, .title{
        display: none;
    }

    .informations{
        width: 350px;
        position: static;
        transform: translate(0, 0);
    }

    .characteristics{
        font-size: 15px;
    }

    .poster{
        height: 600px;
        border-radius: 150px;
        position: static;
        transform: translate(0, 0);
    }

    .button .svg, .carousel .svg{
        height: 20px;
        width: 20px;
    }
}

/*MOBILE (iPhone SE)*/
@media (max-width: 480px){
    body{
        padding: 5px;
    }

    .cineplex{
        height: 70px;
    }

    hr, .title, footer{
        display: none;
    }

    main{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .informations{
        height: 100px;
        width: 290px;
    }
    
    .characteristics{
        font-size: 10px;
    }

    .poster{
        height: 330px;
        border-radius: 10%;
    }
}
